<!--<p>Octave: {{frontEndOctave}}</p>-->
<ion-content>
    <div class="display">
        <ion-row class="heading">
            Current Octave: {{frontEndOctave}}
        </ion-row>
            <ion-row>
                <ion-col col-10>
                    {{inputBox}}
                </ion-col>
                <ion-col>
                    <div style="overflow-x: hidden; overflow-y: scroll; height:90%;">
                    <ion-list>
                        <ion-list>
                        <ion-item *ngFor="let button of buttons; let i = index;" (click)="songsList($event,button)">
                            {{ button }}
                        </ion-item>
                        </ion-list>
                    </ion-list>
                    </div>
                </ion-col>
            </ion-row>
            </div>
    <ion-grid class="Control-btn">
        <ion-row align-items-center>
            <ion-col>
                <ion-button class="controlBTN" expand="full" color="success"  id='save' (click)="save()">SAVE</ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="controlBTN" expand="full" color="success"  id='play' (click)="play()">PLAY</ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="controlBTN" expand="full" color="success"  id='stop' (click)="stop()">STOP</ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="controlBTN" expand="full" color="success" (click)="reset()">RESET</ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="controlBTN" expand="full" color="success" (click)="deleteLast()">DELETE LAST</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
        </ion-row>
    </ion-grid>
    <br>
    <div class="dialPad">
        <div class="keys-btn">
            <div class="clearfix">
                <ng5-slider [(value)]="value" [options]="options"></ng5-slider>
            </div>
            <div class="clearfix">
                <button class="calc_int" (click)="buttonClicked(1)" value="1">1<br>c</button>
                <button class="calc_int" (click)="buttonClicked(2)" value="2">2<br>d</button>
                <button class="calc_int" (click)="buttonClicked(3)" value="3">3<br>e</button>
            </div>
            <div class="clearfix">
                <button class="calc_int" (click)="buttonClicked(4)" value="4">4<br>f</button>
                <button class="calc_int" (click)="buttonClicked(5)" value="5">5<br>g</button>
                <button class="calc_int" (click)="buttonClicked(6)" value="6">6<br>a</button>
            </div>
            <div class="clearfix">
                <button class="calc_int" (click)="buttonClicked(7)" value="7">7<br>b</button>
                <button class="calc_int" (click)="buttonClicked(8)" value="8">8<br>-</button>
                <button class="calc_int" (click)="buttonClicked(9)" value="9">9<br>+</button>
            </div>
            <div class="clearfix">
                <button class="calc_int imp" (click)="buttonClicked(10)" value="*">*<br>oct</button>
                <button class="calc_int imp" (click)="buttonClicked(11)" value="0">0<br>rest</button>
                <button class="calc_int imp" (click)="buttonClicked(12)" value="#">#</button>
            </div>
        </div>
    </div>
</ion-content>
