<ion-content>
    <div class="display">
        <ion-slides>
            <ion-slide>
                <ion-grid style="width:90%;">
                    <ion-row>
                        <div class="heading">
                            Current Octave: {{frontEndOctave}}
                        </div>
                    </ion-row>
                    <ion-row>
                        {{inputBox}}
                    </ion-row>
                </ion-grid>
            </ion-slide>
            <ion-slide>
                <ion-grid style="width : 90%;">
                    <div class="heading">
                        Songs
                    </div>
                    <ion-row>
                        <div scrollx="true" id="myFixZone">
                            <ion-list>
                                <ion-item *ngFor="let button of buttons; let i = index;" (click)="songsList($event,button)" class="itemclass" style="font-size: 20px;font-weight: bold;">
                                    {{ button }}
                                </ion-item>
                            </ion-list>
                        </div>
                    </ion-row>
                </ion-grid>
            </ion-slide>
        </ion-slides>
    </div>
    <ion-grid class="Control-btn">
        <ion-row align-items-center>
            <ion-col>
                <ion-button class="controlBTN" expand="full" color="success" id='play' (click)="play()">PLAY</ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="controlBTN" expand="full" color="success" id='stop' (click)="stop()">STOP</ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="controlBTN" expand="full" color="success" (click)="reset()">RESET</ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="controlBTN" expand="full" color="success" (click)="deleteLast()">UNDO</ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="controlBTN" expand="full" color="success" (click)="save()">SAVE</ion-button>
            </ion-col>
        </ion-row>

        <ion-item>
            <ion-label style="color: white">Effects</ion-label>
            <ion-select  style="color: white" [(ngModel)]="effectName" interface="action-sheet">
                <ion-select-option value="chorus">Chorus</ion-select-option>
                <ion-select-option value="distortion">Distortion</ion-select-option>
                <ion-select-option value="duosynth">Duo Synth</ion-select-option>
                <ion-select-option value="bitcrusher">Bit Crusher</ion-select-option>
                <ion-select-option value="noeffect">No Effect</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-row style="background-color: #404257;">
            <ng5-slider  [(value)]="value" [options]="options"></ng5-slider>
        </ion-row>
    </ion-grid>
    <div class="dialPad" style="background-color: #404257;">
        <div class="keys-btn" style="height : 50%; background-color: #404257;">

            <div class="clearfix">
                <button class="calc_int" (click)="buttonClicked(1)" value="1">c</button>
                <button class="calc_int" (click)="buttonClicked(2)" value="2">d</button>
                <button class="calc_int" (click)="buttonClicked(3)" value="3">e</button>
            </div>
            <div class="clearfix">
                <button class="calc_int" (click)="buttonClicked(4)" value="4">f</button>
                <button class="calc_int" (click)="buttonClicked(5)" value="5">g</button>
                <button class="calc_int" (click)="buttonClicked(6)" value="6">a</button>
            </div>
            <div class="clearfix">
                <button class="calc_int" (click)="buttonClicked(7)" value="7">b</button>
                <button class="calc_int" (click)="buttonClicked(8)" value="8">-</button>
                <button class="calc_int" (click)="buttonClicked(9)" value="9">+</button>
            </div>
            <div class="clearfix">
                <button class="calc_int imp" (click)="buttonClicked(10)" value="*">oct</button>
                <button class="calc_int imp" (click)="buttonClicked(11)" value="0">rest</button>
                <button class="calc_int imp" (click)="buttonClicked(12)" value="#">#</button>
            </div>
        </div>
    </div>
</ion-content>