<ion-content>
  <td><p>current octave: {{frontEndOctave}}</p></td>
  <p>{{inputBox}}</p>
  <div class="nokia">
    <div class="body"></div>
    <div class="side"></div>
    <div class="speaker">
      <div class="speaker-holes"></div>
    </div>
    <div class="logo">
      <p>NOKIA</p>
    </div>
    <div class="top"></div>
    <div class="screen">
      <div class="score">
        <p>Octave: {{frontEndOctave}}</p>
        <p class="display">{{inputBox}}</p>
      </div>
    </div>
    <div class="buttons">
      <button type="button" (click)="play()"  class="home"></button>
      <button type="button" (click)="reset()" class="call"></button>
      <div class="select">
        <div class="arrow"></div>
      </div>
      <button type="button" (click)="buttonClicked(1)" class="keys n1" >1</button>
      <button type="button" (click)="buttonClicked(2)" class="keys n2" >2</button>
      <button type="button" (click)="buttonClicked(3)" class="keys n3" >3</button>
      <button type="button" (click)="buttonClicked(4)" class="keys n4" >4</button>
      <button type="button" (click)="buttonClicked(5)" class="keys n5" >5</button>
      <button type="button" (click)="buttonClicked(6)" class="keys n6" >6</button>
      <button type="button" (click)="buttonClicked(7)" class="keys n7" >7</button>
      <button type="button" (click)="buttonClicked(8)" class="keys n8" >8</button>
      <button type="button" (click)="buttonClicked(9)" class="keys n9" >9</button>
      <button type="button" (click)="buttonClicked(10)" class="keys nStar" >*</button>
      <button type="button" (click)="buttonClicked(11)" class="keys n0" >0</button>
      <button type="button" (click)="buttonClicked(12)" class="keys nHash" >#</button>
    </div>
  </div>
  <br>

  <!--<form [formGroup]= test>-->
    <!--<nouislider [min]="0" [max]="20" [step]="0.5" [formControl]="form1.controls.single"></nouislider>-->
  <!--</form>-->

  <td><button type="button" (click)="reset()">reset<br></button></td>
  <td><button type="button" (click)="deleteLast()">deleteLast<br></button></td>
  <td><button type="button" id='play' (click)="play()">play<br></button></td>
  <td><button type="button" id='stop' (click)="stop()">stop<br></button></td>


  <br>
  <table>
    <tbody>
    <tr>
      <td><button type="button" (click)="buttonClicked(1)">1<br>c</button></td>
      <td><button type="button" (click)="buttonClicked(2)">2<br>d</button></td>
      <td><button type="button" (click)="buttonClicked(3)">3<br>e</button></td>
    </tr>
    <tr>
      <td><button type="button" (click)="buttonClicked(4)">4<br>f</button></td>
      <td><button type="button" (click)="buttonClicked(5)">5<br>g</button></td>
      <td><button type="button" (click)="buttonClicked(6)">6<br>a</button></td>
    </tr>
    <tr>
      <td><button type="button" (click)="buttonClicked(7)">7<br>b</button></td>
      <td><button type="button" (click)="buttonClicked(8)">8<br>-</button></td>
      <td><button type="button" (click)="buttonClicked(9)">9<br>+</button></td>
    </tr>
    <tr>
      <td><button type="button" (click)="buttonClicked(10)">*<br>oct</button></td>
      <td><button type="button" (click)="buttonClicked(11)">0<br>rest</button></td>
      <td><button type="button" (click)="buttonClicked(12)">#<br>#</button></td>
    </tr>
    </tbody>
  </table>

  <ul>
    <button *ngFor="let button of buttons; let i = index;" (click)="songsList($event,button)">
      {{ button }}
    </button>
  </ul>

  <ng5-slider [(value)]="value" [options]="options"></ng5-slider>



</ion-content>
