.slider {
  width: 300px;
  height: 500px;
  overflow-x: scroll;
}
.slide {
  float: left;
  width: 200%;
  height: 100%;
}

.holder {
  width: 100%;
}


.display {
  height: 45%;
  border-style: solid;
  border-color: gray;
  margin: 7px;
}

.heading {
font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.heading2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.dialPad{
  bottom: 0;
  position: fixed;
  width: 100%;
}
.Control-btn{
  margin: 0;
  padding: 0;
}
.dialPad .keys-btn button{
  top:0;
  float:left;
  color:#111;
  height:70px;
  border:none;
  width:33%;
  cursor:pointer;
  line-height:36px;
  user-select:none;
  position:relative;
  text-align:center;
  margin:0 .4% .4% 0;
  background:linear-gradient(#e6e7e9,#e8e9ec);
}
.clearfix {
  margin: 0 10px;
}
.dialPad .keys-btn .clearfix button:last-child{
  margin-right:0;
}
.dialPad .keys-btn .exponent{
  top:-15%;
  font-size:.6em;
  text-indent:2px;
  position:absolute;
  font-weight:normal;
}
.dialPad .keys-btn .denominator{
  position:relative;
}

.dialPad .keys-btn .imp{

  color:#eee;
  background:#f89112;
  background:linear-gradient(#ec9831,#f3962b);
}

@media(min-height:568px){
  .dialPad .keys-btn button{
    height:55px;
  }
}

@media(min-height:610px){
  .dialPad .keys-btn button{
    height:65px;
  }
}

@media(min-height:700px){
  .dialPad .keys-btn button{
    height:75px;
  }
}

@media(min-height:770px){
  .dialPad .keys-btn button{
    height:85px;
  }
}
@media(min-height:1000px){
  .dialPad .keys-btn button{
    height:110px;
  }
}
